
<div class="dropdown">
  <button class="btn btn-sm btn-secondary dropdown-toggle" style="float:right;margin-top:15px; margin-right:15px;" 
        type="button" data-toggle="dropdown" id="dropdownMenu" aria-haspopup="true" aria-expanded="false">
    Add New
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu">
    <a class="dropdown-item" routerLink="/createCustomer">Customer</a>
    <a class="dropdown-item" routerLink="/createProduct">Product</a>
    <a class="dropdown-item" routerLink="/createPurchase">Purchase Order</a>
  </div>
</div>
<div>
  <mat-form-field fxFlex="40%">
    <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
</div>

<mat-table style="margin-top:50px" [dataSource]="dataSource" class="mat-elevation-z8" matSort>
  <ng-container matColumnDef="customer_name">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Customer </mat-header-cell>
    <mat-cell *matCellDef="let purchase">{{ purchase.customer_name }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="product">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Product </mat-header-cell>
    <mat-cell *matCellDef="let purchase">{{ purchase.product }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="expiration_date">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Expiration Date </mat-header-cell>
    <mat-cell *matCellDef="let purchase">{{ purchase.expiration_date }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="no_of_licenses">
    <mat-header-cell *matHeaderCellDef mat-sort-header> No. of Licenses </mat-header-cell>
    <mat-cell *matCellDef="let purchase">{{ purchase.no_of_licenses }}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 20, 50, 100]"></mat-paginator>



