<h6 class="pb-2 mb-0">Licenses</h6>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Customer</th>
          <th scope="col">Product</th>
          <th scope="col">Expiration Date</th>
          <th scope="col">Number of Licenses</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let customer of customers">
          <td>{{customer.customer_name}}</td>
          <td>{{customer.product}}</td>
          <td>{{customer.expiration_date}}</td>
          <td>{{customer.no_of_licenses}}</td>
          <td><a routerLink="/detail/{{customer.id}}">View/Edit Licenses</a></td>
        </tr>
      </tbody>
    </table>
