<h6 style="float:left;" class="pb-2 mb-0">Licenses</h6>

<div class="dropdown">
  <button class="btn btn-sm btn-secondary dropdown-toggle" style="float:right;" type="button" data-toggle="dropdown" id="dropdownMenu" aria-haspopup="true" aria-expanded="false">
    Add New
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu">
    <a class="dropdown-item" routerLink="/createCustomer">Customer</a>
    <a class="dropdown-item" routerLink="/createProduct">Product</a>
    <a class="dropdown-item" routerLink="/createPurchase">Purchase Order</a>
  </div>
</div>
     <!-- <table class="table">
      <thead>
        <tr>
          <th scope="col">Customer</th>
          <th scope="col">Product</th>
          <th scope="col">Expiration Date</th>
          <th scope="col">Number of Licenses</th>
          <th scope="col">License Type</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let purchase of purchases">
          <td>{{purchase.customer_name}}</td>
          <td>{{purchase.product}}</td>
          <td>{{purchase.expiration_date}}</td>
          <td>{{purchase.no_of_licenses}}</td>
          <td>{{purchase.licenseKeyType}}</td>
        </tr>
      </tbody>
    </table>  -->

    <mat-table style="margin-top:50px" [dataSource]="purchases" class="mat-elevation-z8">
      <ng-container matColumnDef="customer">
        <mat-header-cell *matHeaderCellDef> Customer </mat-header-cell>
        <mat-cell *matCellDef="let purchase"> {{purchase.customer_name}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="product">
        <mat-header-cell *matHeaderCellDef> Product </mat-header-cell>
        <mat-cell *matCellDef="let purchase"> {{purchase.product}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="expiration_date">
        <mat-header-cell *matHeaderCellDef> Expiration Date </mat-header-cell>
        <mat-cell *matCellDef="let purchase"> {{purchase.expiration_date}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="no_of_licenses">
        <mat-header-cell *matHeaderCellDef> No. of Licenses </mat-header-cell>
        <mat-cell *matCellDef="let purchase"> {{purchase.no_of_licenses}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
