
  <h2>{{ customer.customer_name }} Contacts</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Role</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone Number</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contact of customer.contacts">
        <td>{{contact.role}}</td>
        <td>{{contact.name}}</td>
        <td>{{contact.email}}</td>
        <td>{{contact.phone_number}}</td>
      </tr>
    </tbody>
  </table>
